@use "sass:map";
@use "../abstracts" as *;
@use "typography" as *;


* {
  // по стандартам (Firefox)
  scrollbar-color: $secondary-content-24 transparent;
  scrollbar-width: auto;

  margin: 0;
  padding: 0;

  font-family: $font-family;

  // Скролл для браузеров для всех элементов
  // для Chrome и Safari
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  & *::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: $secondary-content-24;
    border-radius: 5px;
  }

  & *::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  color: $primary-content;
  background-color: $secondary-background;
}

#app {
  height: 100%;
}

h1 {
  margin: 0;
}

.text-disabled {
  color: $secondary-content-48;
}

.form-disabled {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

*:disabled {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.wrapper-actions {
  display: flex;
  gap: $sz-4;
  align-items: center;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

@media (width >= $screen-size-lg) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    width: 1440px;
  }
}

.bg {
  &-success {
    background-color: $system-positive !important;
  }

  &-warning {
    background-color: $system-attention !important;
  }

  &-error {
    background-color: $system-negative !important;
  }
}

.text {
  &-white {
    color: $static-white !important;
  }

  &-content {
    color: $static-content !important;
  }

  &-primary {
    color: $primary-brand !important;
  }

  &-success {
    color: $system-positive !important;
  }

  &-error {
    color: $system-negative !important;
  }

  &-warning {
    color: $system-attention !important;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: end;
  }
}

.align-items {
  &-center {
    align-items: center;
  }

  &-start {
    align-items: flex-start;
  }
}

.d-flex {
  display: flex;
}

.flex {
  &-1 {
    flex: 1;
  }

  &-column {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.pointer {
  cursor: pointer;
}

.grid-column-12 {
  grid-column: span 12;
}

$step-sizes: (
  1: $sz-1,
  2: $sz-2,
  3: $sz-3,
  4: $sz-4,
  5: $sz-5,
  6: $sz-6,
  7: $sz-7,
  8: $sz-8,
  9: $sz-9,
  10: $sz-10
);

@for $i from 1 through 10 {
  .gap-#{$i} {
    gap: map.get($step-sizes, $i);
  }
}

.py {
  &-1 {
    padding-top: $sz-1;
    padding-bottom: $sz-1;
  }

  &-2 {
    padding-top: $sz-2;
    padding-bottom: $sz-2;
  }
}

.px {
  &-2 {
    padding-right: $sz-2;
    padding-left: $sz-2;
  }

  &-4 {
    padding-right: $sz-4;
    padding-left: $sz-4;
  }
}

.m {
  &t {
    &-4 {
      margin-top: $sz-4;
    }

    &-5 {
      margin-top: $sz-5;
    }
  }

  &l {
    &-5 {
      margin-left: $sz-5;
    }
  }
}

.user-select-none {
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

// Удаление иконок очистки поля и отображения пароля в IE
input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}

// Удаление стрелок у типа number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0; // Apparently some margin are still there even though it's hidden
  // display: none; // Crashes Chrome on hover
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
