$static-white: #fff;
$static-content: #333;
$primary-brand: #0067e2;
$primary-background: #fff;
$primary-overlay: #3333337a;
$primary-content: #333;
$secondary-brand-20: #cce1f9;
$secondary-brand-30: #b2d1f6;
$secondary-brand-50: #80b3f1;
$secondary-brand-60: #66a4ee;
$secondary-brand-80: #3385e8;
$secondary-background: #f4f6f8;
$secondary-content-8: #efefef;
$secondary-content-16: #dedede;
$secondary-content-24: #cecece;
$secondary-content-48: #9d9d9d;
$secondary-content-64: #7c7c7c;
$secondary-content-80: #5c5c5c;
$system-attention: #ffd16b;
$system-negative: #fc3248;
$system-positive: #52d80f;
$shades-attention-24: #fff4db;
$shades-attention-64: #ffe2a0;
$shades-negative-24: #feced3;
$shades-negative-64: #fd7c8a;
$shades-positive-24: #d5f6c5;
$shades-positive-64: #90e665;