$screen-size-lg: 1441px;

$step: 4px;

$sz-1: $step;
$sz-2: 2 * $step;
$sz-3: 3 * $step;
$sz-4: 4 * $step;
$sz-5: 6 * $step;
$sz-6: 8 * $step;
$sz-7: 10 * $step;
$sz-8: 12 * $step;
$sz-9: 14 * $step;
$sz-10: 20 * $step;
